*{
    overflow-x: hidden;
   
}
.back{
    background-image: url(image/pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    

}
.nav{
     box-shadow: rgb(255, 0, 76) 3px 3px 20px;
}
.img{
         box-shadow: rgb(255, 0, 76) 3px 3px 20px;

}
.image{
   transform: rotate3d();
}
.card{
    box-shadow:  rgb(255, 115, 8) 5px 5px 20px; 
    text-decoration: none;
    border-radius: 30px;
}
.brd{
    height: 500px;
    width: 1200px;
}
.text{
    font-size: xx-large;
    font-weight: bolder;
    color: crimson;
    margin-left: 150px;
     box-shadow: rgb(255, 67, 76) 3px 3px 20px;
     
     }

     