*{
    overflow-x: hidden;
   
}
.back{
    background-image: url(image/pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    

}
.nav{
     box-shadow: rgb(255, 0, 76) 3px 3px 20px;
}
.img{
         box-shadow: rgb(255, 0, 76) 3px 3px 20px;

}
.image{
    /* transform-style: preserve-3d;
    animation: 3s ease-in-out 0s infinite alternate none running move3d; */
    animation:3s ease-in-out 0s infinite
}
.card{
    box-shadow:  rgb(255, 115, 0) 5px 5px 20px; 
    text-decoration: none;
}